
<!-- <h2>{{title}}</h2>
<h1>{{label}}</h1>

<div *ngIf=" !isAddStudent">
  <h2>Student List</h2>
  <button (click)="addNewStudent()">Add New Student</button>
  <div *ngFor="let student of studentsList">
    <div class="table">
      <app-student [studentIn]="student"></app-student>
    </div>
</div>
</div>

<div *ngIf="isAddStudent">
  <app-add-student (studentOut)="addStudent($event)"></app-add-student>
</div> -->

<nav>
  <ul>
    <li><a routerLink="/first-component">First Component</a></li>
    <li><a routerLink="/second-component">Second Component</a></li>
    <li><a routerLink="/third-component">Third Component</a></li>
    <li><a routerLink="/fourth-component">Fourth Component</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
